/* ========================================================================== */
/* SCSS VERIABLES */
/* ========================================================================== */
$color-primary: #000;
$color-secondary: #fff;
$color-grey: #f2f2f1;
$color-success: #2ecc71;
