@charset "UTF-8";
/* ========================================================================== */
/* SCSS VERIABLES */
/* ========================================================================== */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ========================================================================== */
/* GLOBAL */
/* ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2ecc71;
}

p {
  text-align: center;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.container-small {
  max-width: 800px;
}

.col-1-2 {
  width: 50%;
  padding-right: 40px;
}

.col-1-3 {
  width: 33.3%;
}

.col-1-4 {
  width: 25%;
}

.col-1-4 h4 {
  font-size: 1.5rem;
}

.col-3-4 {
  width: 75%;
}

.col-2-5 {
  width: 40%;
}

.col-3-5 {
  width: 60%;
}

.col-7-10 {
  width: 70%;
}

.col-3-10 {
  width: 30%;
}

h3, p {
  text-align: left;
}

h3 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

p {
  line-height: 1.75;
  color: #797979;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-container--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex__end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* ========================================================================== */
/* LANDING PAGE + NAV START */
/* ========================================================================== */
#particles-js {
  min-height: 100vh;
  background-color: #000;
  opacity: 0.99;
}

/* STICKY */
.sticky {
  position: fixed;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
}

.sticky-background {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

/* Navigation */
nav li {
  float: left;
}

nav a {
  display: block;
  padding: 1.875rem 1.5625rem 0.9225rem;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}

nav a:hover {
  border-bottom: 1px solid white;
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
}

.hero {
  margin-top: 8.75rem;
  /*150px*/
  color: #fff;
  /* Fallback color */
  color: rgba(255, 255, 255, 0.8);
}

.hero h1 {
  font-size: 4.5rem;
  letter-spacing: 0.1rem;
  padding-bottom: 0.3rem;
  margin-bottom: 3.125rem;
  font-family: 'Kaushan Script', cursive;
}

.hero h2 {
  font-size: 9.375rem;
  font-family: 'Lora', serif;
  font-weight: 700;
  letter-spacing: 0.02rem;
  padding-bottom: 0.25rem;
}

.hero h2::after {
  display: block;
  padding: 0.1rem 0;
  margin: 0 auto;
  content: "";
  width: 50px;
  border-bottom: 1px solid white;
}

.hero a {
  font-size: 1.25rem;
  display: inline-block;
  margin-top: 4rem;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  color: white;
  border: 1px solid white;
}

.hero a:hover {
  background-color: white;
  color: #000;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

/* ========================================================================== */
/* ABOUT ME START */
/* ========================================================================== */
.about {
  margin-top: 8.75rem;
}

.self-img {
  display: inline-block;
  position: relative;
  -webkit-box-shadow: 25px -25px 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 25px -25px 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 25px -25px 0px 0px rgba(0, 0, 0, 0.3);
}

.self-img::after {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 25px -25px 0px -10px white;
  -moz-box-shadow: 25px -25px 0px -10px white;
  box-shadow: 25px -25px 0px -10px white;
}

.about-work {
  margin-top: 6.8rem;
}

.about-work p {
  text-align: center;
  padding: 0 10px;
}

.about-work h4 {
  margin-bottom: 2rem;
}

/* ========================================================================== */
/* SEPARATION HOBBIES */
/* ========================================================================== */
.hobbies .flex-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* ========================================================================== */
/* SKILLS START */
/* ========================================================================== */
.skills {
  margin-top: 6.8rem;
}

.skills .progress-container h4 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #566366;
  text-transform: uppercase;
}

.skills .progress {
  padding: 4px;
  margin-bottom: 30px;
  background-color: #f2f2f2;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.skills .progress-bar.flex-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.skills .progress-bar {
  height: 40px;
  background-color: #2ecc71;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.skills .progress-bar p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  padding-right: 5px;
}

/* SKILLS END*/
/* ========================================================================== */
/* RESUME START */
/* ========================================================================== */
.resume {
  margin-top: 6.8rem;
  position: relative;
  background-color: #797979;
  height: 350px;
}

.resume::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -50px;
  border-width: 25px;
  border-color: #797979 transparent transparent transparent;
  border-style: solid;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.resume a {
  padding: 15px 20px;
  color: #fff;
  border: 1px solid #2ecc71;
  margin-top: 2.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.resume a:hover {
  background-color: #2ecc71;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.resume h3, .resume p {
  color: #fff;
}

.resume h3 {
  margin-bottom: 2.5rem;
}

.resume p {
  text-align: center;
}

/* RESUME SECTION END */
/* ========================================================================== */
/* EDUCATION START */
/* ========================================================================== */
.education {
  margin-top: 6.8rem;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline h2, .timeline p {
  color: #fff;
}

.timeline h2, .timeline h4 {
  margin-bottom: 1.2rem;
}

.timeline h4 {
  color: #797979;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #000;
  border: 4px solid #2ecc71;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #000;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #000;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #000;
  border-width: 10px 10px 10px 0;
  border-color: transparent #000 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #000;
  position: relative;
  border-radius: 6px;
}

/* EDUCATION END*/
/* ========================================================================== */
/* QUOTES SEPARATION */
/* ========================================================================== */
.separation.separation-quotes {
  height: 300px;
}

.separation.separation-quotes img {
  border-radius: 50%;
}

.separation.separation-quotes .container {
  margin-top: 0;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.8em;
}

blockquote p {
  display: inline;
  color: white;
}

.swiper-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide {
  font-size: 1.1rem;
  background: #797979;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide p {
  color: #fff;
}

/*SEPARATION QUOTES END*/
/* ========================================================================== */
/* LATEST WORK */
/* ========================================================================== */
.latest-work {
  margin-top: 6.8rem;
}

.latest-work .container h2, .latest-work .container p {
  text-align: center;
  margin-bottom: 5rem;
}

.latest-work .container h2 {
  font-size: 1.875rem;
  text-transform: uppercase;
}

.latest-work--cards {
  margin-bottom: 3.4rem;
}

.latest-work--cards.flex-container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.img-container {
  margin: 8px;
  position: relative;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
}

.img-container .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.img-container:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75);
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.img-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.img-container:hover .overlay,
.img-container:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.img-container .inner__block {
  white-space: nowrap;
  color: white;
  font-size: 3rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transition: 5s;
  -o-transition: 5s;
  transition: 5s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.view-more a {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  padding: 0.5rem;
}

.view-more a i {
  margin-left: 25px;
}

.view-more a:hover {
  background-color: #2ecc71;
  color: #fff;
}

.view-more a:hover i {
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-left: 35px;
}

/*END OF LATEST WORK*/
/* ========================================================================== */
/* SEPARATION */
/* ========================================================================== */
.separation {
  height: 325px;
  margin-top: 110px;
  background-color: #797979;
  color: white;
}

.separation .container {
  margin-top: 3.4rem;
}

.separation p {
  color: #fff;
  margin-top: 1.2rem;
}

/*Separation end*/
/* ========================================================================== */
/* LATEST BLOG START */
/* ========================================================================== */
.latest-blog {
  margin-top: 6.8rem;
}

.latest-blog .flex-container {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.card-main {
  max-width: 350px;
  min-height: 250px;
  height: auto;
  margin-bottom: 40px;
}

.button {
  border: none;
  background: transparent;
}

.controller-container {
  margin-bottom: 5%;
  text-align: center;
}

.controller {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 22px;
  padding: 10px 0;
  color: #fff;
  position: relative;
  -webkit-transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.controller:after {
  content: "";
  height: 3px;
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
}

.controller.is_current:after {
  width: 100%;
}

.controller:hover,
.controller.is_current {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

.card {
  will-change: transform;
  margin: 8px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  background-color: #fafafa;
  height: 35%;
  width: 344px;
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.card__image {
  position: absolute;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  opacity: 0;
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card__image:after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  bottom: 0;
}

.card__title {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 24px;
  color: #000;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 16px;
  font-weight: 400;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card__subtitle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  display: block;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
  left: 200px;
  top: 340px;
  position: absolute;
  padding: 0 16px;
  opacity: 1;
  -webkit-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card__text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  display: block;
  left: 0;
  right: 0;
  top: 100px;
  padding: 16px 8px;
  margin: 0;
  line-height: 1.6;
  position: absolute;
  color: #000;
  overflow: hidden;
  text-align: center;
  -webkit-transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: delay 0.1s;
  -o-transition: delay 0.1s;
  transition: delay 0.1s;
}

.card__action-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  padding: 0 8px;
  border-top: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  -webkit-transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card__button {
  outline: none;
  position: relative;
  display: block;
  line-height: 40px;
  padding: 0 16px;
  color: #000;
}

.card__button:hover {
  color: #2ecc71;
  /* pakeisti spalva */
}

.card--big {
  -webkit-box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  height: 400px;
  min-height: 400px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.card--big .card__image {
  border-radius: 1px 1px 0 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  max-height: 210px;
}

.card--big .card__title {
  top: 220px;
}

.card--big .card__text {
  top: 250px;
}

.card--big .card__action-bar {
  left: 0;
}

.card--small {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  height: 136px;
  min-height: 136px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.card--small .card__image {
  border-radius: 1px 0 0 1px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.card--small .card__image:after {
  opacity: 0;
}

.card--small .card__title {
  color: #fff;
  z-index: 1;
  text-align: left;
  top: 105px;
}

.card--small .card__subtitle {
  display: none;
}

.card--small .card__text {
  top: 30px;
  opacity: 0;
}

.card--small .card__action-bar {
  background-color: rgba(0, 0, 0, 0.3);
}

.card--small .card__button {
  display: none;
}

/* LATEST BLOG END */
/* ========================================================================== */
/* FOOTES START */
/* ========================================================================== */
footer {
  min-height: 100vh;
  margin-top: 8rem;
  background-color: #000;
  color: #fff;
}

.contact {
  margin-top: 6.8rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contact__text {
  text-align: left;
}

.contact__text h2, .contact p {
  color: #fff;
}

.contact__text h2 {
  font-size: 1.875rem;
  margin-bottom: 3.125rem;
}

.contact__text p {
  margin-right: 7rem;
}

.contact__details {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.contact__details i {
  margin-right: 1.2rem;
}

.contact__details div > p:nth-child(1) {
  margin-bottom: 2rem;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px;
  -webkit-appearance: none;
}

footer h3 {
  margin-top: 6.8rem;
}

.send-mail {
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */
}

.send-mail form .flex-container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.send-mail input, .send-mail label, .send-mail textarea {
  display: block;
  font-size: 1.2rem;
  line-height: 1.75;
}

.send-mail input, .send-mail textarea {
  margin: 1rem 0;
  background-color: #000;
  color: #fff;
  border: none;
  border-bottom: 1px solid #797979;
  width: 100%;
}

.send-mail label {
  font-size: 1rem;
  color: #797979;
}

.send-mail textarea {
  height: 160px;
  resize: none;
}

.send-mail input::-webkit-input-placeholder,
.send-mail textarea::-webkit-input-placeholder {
  font-size: 1.2rem;
  color: #fff;
}

.send-mail input:-ms-input-placeholder,
.send-mail textarea:-ms-input-placeholder {
  font-size: 1.2rem;
  color: #fff;
}

.send-mail input::-ms-input-placeholder,
.send-mail textarea::-ms-input-placeholder {
  font-size: 1.2rem;
  color: #fff;
}

.send-mail input::placeholder,
.send-mail textarea::placeholder {
  font-size: 1.2rem;
  color: #fff;
}

.send-mail button {
  min-width: 160px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 25px;
  margin-top: 1rem;
  border: 1px solid #797979;
  background-color: #000;
  color: #fff;
}

.send-mail button i {
  padding-left: 15px;
  color: white;
}

.send-mail button:hover {
  background-color: #2ecc71;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.send-mail button:hover i {
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-left: 25px;
}

.send-mail input:focus,
.send-mail textarea:focus {
  border-bottom: 1px solid #2ecc71;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.send-mail input:focus::-webkit-input-placeholder {
  color: transparent;
}

.send-mail input:focus:-moz-placeholder {
  color: transparent;
}

.send-mail input:focus::-moz-placeholder {
  color: transparent;
}

.send-mail input:focus:-ms-input-placeholder {
  color: transparent;
}

.send-mail textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.send-mail textarea:focus:-moz-placeholder {
  color: transparent;
}

.send-mail textarea:focus::-moz-placeholder {
  color: transparent;
}

.send-mail textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.copyright {
  margin: 3.4rem 0;
}

/* ========================================================================== */
/* MEDIA QUERIES */
/* ========================================================================== */
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
    left: 60px;
    border: medium solid #000;
    border-width: 10px 10px 10px 0;
    border-color: transparent #000 transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
